*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
  height: 100%;
	width: 100%;
  background: url("http://sfwallpaper.com/images/background-image-for-website-1.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}
.logo-container{
  margin-left: 25px;
  width: 5%;
}
.logo{
  width: 100%;
  border: none;
  border-radius: 100%;
}

.navbar
{
    /* background-color: rgb(220,228,181); */
    background-image: linear-gradient(to right, rgba(191, 222, 146, 0.80) , rgba(209, 231, 179, 0.80));
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    box-shadow:
           inset 0 -3em 3em rgba(0,0,0,0.1),
           0.3em 0.3em 1em rgba(0,0,0,0.3);
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    text-decoration: underline;
}
nav ul li a:hover
{
    text-decoration: underline;
}
/* a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
} */
#login-form
{
    display: none;
    padding: 25px;
}

.form-box
{
  width:380px;
	height:480px;
	position:relative;

  box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
         0.3em 0.3em 1em rgba(0,0,0,0.3);

  border: none;
  border-radius: 10px;
	margin:2% auto;
	padding:10px;
  overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
  border:1px solid black;
  border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
  color: black;
	background:transparent;
	border:0;
  border-radius: 10px;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	/* background: #F3C693; */
  background: rgb(178, 159, 226);
  border: none;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
  top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: rgb(178, 159, 226);
	border: 0;
	outline: none;
	border-radius: 30px;
  padding-bottom: 10px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:13px;
  font-weight: bolder;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size:15px;
}
#register
{
	left:450px;
}
#register input
{
	color:black;
	font-size: 15px;
}






#snackbar{
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show{
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
