<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Register Form</title>
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body>
        <div class="logo-container">
            <a href='/'><img src="../Images/logo.png" alt="logo" class="logo"></a>
        </div>

        <div class="center">
            <h1>Sign Up</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" name='firstname' required>
                    <span></span>
                    <label>First Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" name='lastname' required>
                    <span></span>
                    <label>Last Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" name='phone' required>
                    <span></span>
                    <label>Phone Number</label>
                </div>
                <div class="txt_field">
                    <input type="password" name='password' required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" name='confirmpassword' required>
                    <span></span>
                    <label>Confirm Password</label>
                </div>
                <input type="submit" value="Sign Up">
                <div class="signup_link">
                </div>
            </form>
        </div>

    </body>
</html>
